---
import Link from './ui/Link.astro';
import { getCollection } from 'astro:content';
import BlogCard from './ui/BlogCard.astro';
const posts = await getCollection('projects');

---
<section class="container">
    <h2>Recent Projects</h2>
    <div class="projects-container">
        {posts.slice(0,2).map((post) => (

            <BlogCard post={{...post.data, slug: post.slug}}/>
        ))}
    </div>
    <div class="view-all-projects">
    <Link href="/projects">View all projects</Link>
    </div>
</section>
<style>


    div.projects-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    @media screen and (max-width: 768px) {
        div.projects-container {
            grid-template-columns: 1fr;
        }
    }

    div.view-all-projects {
        margin-top: 2rem;
        text-align: center;
    }

    div.view-all-blogs a {
        color: var(--primary);
        text-decoration: none;
    }



</style>