---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from 'astro:content';
import { parseSiteConfig } from "../../config";
import ProjectCard from "../../components/ui/ProjectCard.astro";

const projects = await getCollection('projects');
const { site_title, site_description, email, socials } = parseSiteConfig();

---
<Layout site_title={"Projects | " + site_title} site_description={site_description} email={email} socials={socials}>
    <main class="container">
        <h1>Projects</h1>
        {projects.sort((a, b) => a.data.order - b.data.order)
                .map((post) => (
                <ProjectCard post={{ ...post.data, slug: post.slug}}/>
        ))}
        </main>
</Layout>