<div class="blurred-shape"></div>
<style>
    .blurred-shape {
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: var(--secondary);
        border-radius: 50%;
        filter: blur(100px);
        opacity: 0.5;
        top:0%;
        left: -15%;
        transition: transform 0.1s ease-out;
    }

    @media screen and (max-width: 768px) {
        .blurred-shape {
            width: 200px;
            height: 200px;
        }
        
    }
</style>

<script>
    window.addEventListener('load', () => {
        const blurredShape = document.querySelector('.blurred-shape');

        const setInitialPosition = () => {
            const shapeRect = blurredShape.getBoundingClientRect();
            const initialX = shapeRect.left + window.scrollX + (shapeRect.width / 2);
            const initialY = shapeRect.top + window.scrollY + (shapeRect.height / 2);
            
            blurredShape.style.transform = `translate(${initialX}px, ${initialY}px)`;
            return { initialX, initialY };
        };

        const { initialX, initialY } = setInitialPosition();

        let targetX = initialX;
        let targetY = initialY;
        let currentX = initialX;
        let currentY = initialY;

        const easing = 0.02; 

        document.addEventListener('mousemove', (event) => {
            targetX = event.clientX;
            targetY = event.clientY;
        });

        function animate() {
            currentX += (targetX - currentX) * easing;
            currentY += (targetY - currentY) * easing;

            blurredShape.style.transform = `translate(${currentX - initialX}px, ${currentY - initialY}px)`;

            requestAnimationFrame(animate);
        }

        animate();
    });
</script>